.property
  = label_tag 'user[customer_usage_type]', nil, class: 'property__name' do
    %span.property__text= t('workarea.admin.users.edit.taxjar_entity_use_code')
  .value
    = select_tag 'user[customer_usage_type]', options_for_select(user.taxjar_usage_options, user.customer_usage_type)
